<h2>New book</h2>
<%= form_for(book) do |f| %>
  <div class="form-group">
    <label for="item_コメント">Title</label>
    <input type="text" class="form-control" name="book[title]" id="title">
  </div>
  <div class="form-group">
    <label for="comment">Title</label>
    <textarea class="form-control" name="book[body]" id="opinion"></textarea>
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Create Book">
<% end %>